<body>
<div id="secondpage"></div>
</body>

<script type="text/javascript" src="/js/dependencies/sails.io.js"></script>
<script src = "https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src = "js/socket.js"></script>
<script src = "js/vue.js"></script>
