<html>


<!--HEAD-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<!--END-HEAD-->


<!--MAIN-->
<body>
<main>
  <ul class="collapsible">


    <li>
      <div class="collapsible-header">
        Upload
      </div>
      <div class="collapsible-body">
        <p>
        <div id="app"></div>
        </p>
      </div>
    </li>


    <li>
      <div class="collapsible-header">
        Help
      </div>
      <div class="collapsible-body"><p>Нажмите кнопку "Upload". Выберите файл для презентации. Нажмите кнопку
          "Открыть".
          Дождитесь загрузки и обработки файла. </p></div>
    </li>


    <li>
      <div class="collapsible-header">
        Preview
      </div>
      <div class="collapsible-body" id="imagelist">
        <script src="js/addingImages.js" type="text/javascript"></script>
      </div>
    </li>


  </ul>
</main>
<!--END-MAIN-->


<!--SCRIPTS-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>if (!window.jQuery) {
    document.write('<script src="bin/jquery-3.2.1.min.js"><\/script>');
  }</script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/upload.js"></script>
<link href="css/images.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<!--END-SCRIPTS-->


</body>
</html>
